@import "../constants.scss";

.pageWrapper {
  @media only screen {
    @media (max-width: 700px) {
      padding: 12px;
    }
    @media (min-width: 700px) {
      padding: 1in;
      padding-top: 22px;
    }
  }
}

h1 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: initial;
}

h1 + h3 {
  margin-top: -8px;
}

hr {
  color: rgba($body-var, 0.3);
}

.topnav {
  display: flex;
  gap: 11px;
  align-items: center;
}

.navLink {
  transform: scale(1);

  &, &:link, &:visited {
    font-size: 1rem;
    color: $body;
    text-decoration: initial;
    font-weight: 700;
    transition: font-size 100ms ease;
    vertical-align: middle;
  }

  &:hover {
    color: orange;
    & > * {
      fill: orange;
    }
    transform: scale(1.1);
  }
}

