<html>
  <body>

    <div>
      <h1> Michael Belousov </h1>
      <ul>
        <li> <strong><a href="https://mikemikeb.com">https://mikemikeb.com</a></strong> </li>
        <li> <strong>+1 (203) 502-9425</strong> </li>
        <li> <strong><a href="mailto:me@mikemikeb.com">me@mikemikeb.com</a></strong> </li>
        <li> <strong><a href="FIXME">LinkedIn</a></strong> </li>
      </ul>
      <hr />

      <section>
        <h2> Experience </h2>
      </section>

      <section>
        <h2> Education </h2>
        <span style="font-variant:small-caps;">University of Connecticut</span>, Storrs, CT <br/>
        <em>Bachelor of Science</em>, Computer Science and Engineering. Completed May 2019 <br/>
      </section>


      <section>
        <h2> Notable projects </h2>
        <ul>
          <li><a href="https://alternis.io">alternis.io</a> embeddable dialogue middleware (in <a href="ziglang.com">zig</a>) and visual flow-based dialogue editor app</li>
          <li><a href="https://alternis.io">alternis.io</a>
        </ul>
      </section>

      <section>
        <h2> Notable open source contributions </h2>
        <ul>
          <li> <code><a href="https://github.com/okonet/lint-staged">lint-staged</a></code> msys2/cygwin platform support </li>
          <li> <code><a href="https://github.com/typescript-eslint/typescript-eslint">typescript-eslint</a></code> async function lint rule fix </li>
          <li> <code><a href="https://github.com/godotengine/godot">Godot game engine</a></code> </li>
            <li> <code><a href="https://github.com/onivim/oni2/pull/2630">onivim2</a></code> vim-like text editor written in OCaml/Reason </li>
      </section>

    </div>

  </body>
</html>
