@import '../constants.scss';

.blogLink {
  margin: 11px;
}

.blogLink {
  &,
  &:link,
  &:visited {
    color: $body;
    text-decoration: initial;
    font-weight: 700;
    vertical-align: middle;
  }
  &:hover {
    color: orange;
  }
}

.blogsSidebar {
  position: fixed;
  width: 12rem;
  z-index: 1;
  top: 0.8in;
  right: 0;
  overflow-x: hidden;
  margin-top: 22px;
  margin-right: 0.5in;
  font-size: 0.8rem;
}

@media only screen {
  @media (max-width: 15in) {
    .blogsSidebar {
      display: none;
    }
  }
}
