@import "constants.scss";

.pageWrapper {
  @media only screen {
    @media (max-width: 700px) {
      padding: 8px;
    }
    @media (min-width: 700px) {
      padding: 1in;
    }
  }
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  @media only screen {
    @media (max-width: 700px) {
      flex-direction: column;
    }
    @media (min-width: 700px) {
      flex-direction: row;
    }
  }
  * > {
    line-height: 0;
  }
  padding-bottom: 22px;
  
  .navLink {
    &, &:link, &:visited {
      font-size: 2rem;
      color: $body;
      text-decoration: initial;
      font-style: italic;
      font-weight: 700;
      transition: font-size 100ms ease;
      line-height: 0; //HACK: grow upwards
    }
    &:hover {
      color: orange;
      font-size: 2.5em;
    }
    &:not(:first-child) {
      margin-left: 22px;
    }
  }

  title {
  }
}

h1 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: initial;
}

h1 + h3 {
  margin-top: -8px;
}

hr {
  color: rgba($body-var, 0.3);
}
